.sr-only {
  clip-path: inset(100%) !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.grid {
  display: grid;
}
.grid.cols-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid.rows-2 {
  grid-template-rows: repeat(2, 1fr);
}
.grid.auto-cols-2 {
  grid-auto-columns: 2fr;
}
.grid.auto-rows-2 {
  grid-auto-rows: 2fr;
}
.grid .colspan-2 {
  grid-column: span 2;
}
.grid .rowspan-2 {
  grid-row: span 2;
}
.grid.cols-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid.rows-3 {
  grid-template-rows: repeat(3, 1fr);
}
.grid.auto-cols-3 {
  grid-auto-columns: 3fr;
}
.grid.auto-rows-3 {
  grid-auto-rows: 3fr;
}
.grid .colspan-3 {
  grid-column: span 3;
}
.grid .rowspan-3 {
  grid-row: span 3;
}
.grid.cols-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid.rows-4 {
  grid-template-rows: repeat(4, 1fr);
}
.grid.auto-cols-4 {
  grid-auto-columns: 4fr;
}
.grid.auto-rows-4 {
  grid-auto-rows: 4fr;
}
.grid .colspan-4 {
  grid-column: span 4;
}
.grid .rowspan-4 {
  grid-row: span 4;
}
.grid.cols-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid.rows-5 {
  grid-template-rows: repeat(5, 1fr);
}
.grid.auto-cols-5 {
  grid-auto-columns: 5fr;
}
.grid.auto-rows-5 {
  grid-auto-rows: 5fr;
}
.grid .colspan-5 {
  grid-column: span 5;
}
.grid .rowspan-5 {
  grid-row: span 5;
}
.grid.cols-6 {
  grid-template-columns: repeat(6, 1fr);
}
.grid.rows-6 {
  grid-template-rows: repeat(6, 1fr);
}
.grid.auto-cols-6 {
  grid-auto-columns: 6fr;
}
.grid.auto-rows-6 {
  grid-auto-rows: 6fr;
}
.grid .colspan-6 {
  grid-column: span 6;
}
.grid .rowspan-6 {
  grid-row: span 6;
}
.grid.cols-7 {
  grid-template-columns: repeat(7, 1fr);
}
.grid.rows-7 {
  grid-template-rows: repeat(7, 1fr);
}
.grid.auto-cols-7 {
  grid-auto-columns: 7fr;
}
.grid.auto-rows-7 {
  grid-auto-rows: 7fr;
}
.grid .colspan-7 {
  grid-column: span 7;
}
.grid .rowspan-7 {
  grid-row: span 7;
}
.grid.cols-8 {
  grid-template-columns: repeat(8, 1fr);
}
.grid.rows-8 {
  grid-template-rows: repeat(8, 1fr);
}
.grid.auto-cols-8 {
  grid-auto-columns: 8fr;
}
.grid.auto-rows-8 {
  grid-auto-rows: 8fr;
}
.grid .colspan-8 {
  grid-column: span 8;
}
.grid .rowspan-8 {
  grid-row: span 8;
}
.grid.cols-9 {
  grid-template-columns: repeat(9, 1fr);
}
.grid.rows-9 {
  grid-template-rows: repeat(9, 1fr);
}
.grid.auto-cols-9 {
  grid-auto-columns: 9fr;
}
.grid.auto-rows-9 {
  grid-auto-rows: 9fr;
}
.grid .colspan-9 {
  grid-column: span 9;
}
.grid .rowspan-9 {
  grid-row: span 9;
}
.grid.cols-10 {
  grid-template-columns: repeat(10, 1fr);
}
.grid.rows-10 {
  grid-template-rows: repeat(10, 1fr);
}
.grid.auto-cols-10 {
  grid-auto-columns: 10fr;
}
.grid.auto-rows-10 {
  grid-auto-rows: 10fr;
}
.grid .colspan-10 {
  grid-column: span 10;
}
.grid .rowspan-10 {
  grid-row: span 10;
}
.grid.cols-11 {
  grid-template-columns: repeat(11, 1fr);
}
.grid.rows-11 {
  grid-template-rows: repeat(11, 1fr);
}
.grid.auto-cols-11 {
  grid-auto-columns: 11fr;
}
.grid.auto-rows-11 {
  grid-auto-rows: 11fr;
}
.grid .colspan-11 {
  grid-column: span 11;
}
.grid .rowspan-11 {
  grid-row: span 11;
}
.grid.cols-12 {
  grid-template-columns: repeat(12, 1fr);
}
.grid.rows-12 {
  grid-template-rows: repeat(12, 1fr);
}
.grid.auto-cols-12 {
  grid-auto-columns: 12fr;
}
.grid.auto-rows-12 {
  grid-auto-rows: 12fr;
}
.grid .colspan-12 {
  grid-column: span 12;
}
.grid .rowspan-12 {
  grid-row: span 12;
}
@media (min-width: 600px) {
  .grid.cols-2-sm {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid.rows-2-sm {
    grid-template-rows: repeat(2, 1fr);
  }
  .grid.auto-cols-2-sm {
    grid-auto-columns: 2fr;
  }
  .grid.auto-rows-2-sm {
    grid-auto-rows: 2fr;
  }
  .grid .colspan-2-sm {
    grid-column: span 2;
  }
  .grid .rowspan-2-sm {
    grid-row: span 2;
  }
  .grid.cols-3-sm {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid.rows-3-sm {
    grid-template-rows: repeat(3, 1fr);
  }
  .grid.auto-cols-3-sm {
    grid-auto-columns: 3fr;
  }
  .grid.auto-rows-3-sm {
    grid-auto-rows: 3fr;
  }
  .grid .colspan-3-sm {
    grid-column: span 3;
  }
  .grid .rowspan-3-sm {
    grid-row: span 3;
  }
  .grid.cols-4-sm {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid.rows-4-sm {
    grid-template-rows: repeat(4, 1fr);
  }
  .grid.auto-cols-4-sm {
    grid-auto-columns: 4fr;
  }
  .grid.auto-rows-4-sm {
    grid-auto-rows: 4fr;
  }
  .grid .colspan-4-sm {
    grid-column: span 4;
  }
  .grid .rowspan-4-sm {
    grid-row: span 4;
  }
  .grid.cols-5-sm {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid.rows-5-sm {
    grid-template-rows: repeat(5, 1fr);
  }
  .grid.auto-cols-5-sm {
    grid-auto-columns: 5fr;
  }
  .grid.auto-rows-5-sm {
    grid-auto-rows: 5fr;
  }
  .grid .colspan-5-sm {
    grid-column: span 5;
  }
  .grid .rowspan-5-sm {
    grid-row: span 5;
  }
  .grid.cols-6-sm {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid.rows-6-sm {
    grid-template-rows: repeat(6, 1fr);
  }
  .grid.auto-cols-6-sm {
    grid-auto-columns: 6fr;
  }
  .grid.auto-rows-6-sm {
    grid-auto-rows: 6fr;
  }
  .grid .colspan-6-sm {
    grid-column: span 6;
  }
  .grid .rowspan-6-sm {
    grid-row: span 6;
  }
  .grid.cols-7-sm {
    grid-template-columns: repeat(7, 1fr);
  }
  .grid.rows-7-sm {
    grid-template-rows: repeat(7, 1fr);
  }
  .grid.auto-cols-7-sm {
    grid-auto-columns: 7fr;
  }
  .grid.auto-rows-7-sm {
    grid-auto-rows: 7fr;
  }
  .grid .colspan-7-sm {
    grid-column: span 7;
  }
  .grid .rowspan-7-sm {
    grid-row: span 7;
  }
  .grid.cols-8-sm {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.rows-8-sm {
    grid-template-rows: repeat(8, 1fr);
  }
  .grid.auto-cols-8-sm {
    grid-auto-columns: 8fr;
  }
  .grid.auto-rows-8-sm {
    grid-auto-rows: 8fr;
  }
  .grid .colspan-8-sm {
    grid-column: span 8;
  }
  .grid .rowspan-8-sm {
    grid-row: span 8;
  }
  .grid.cols-9-sm {
    grid-template-columns: repeat(9, 1fr);
  }
  .grid.rows-9-sm {
    grid-template-rows: repeat(9, 1fr);
  }
  .grid.auto-cols-9-sm {
    grid-auto-columns: 9fr;
  }
  .grid.auto-rows-9-sm {
    grid-auto-rows: 9fr;
  }
  .grid .colspan-9-sm {
    grid-column: span 9;
  }
  .grid .rowspan-9-sm {
    grid-row: span 9;
  }
  .grid.cols-10-sm {
    grid-template-columns: repeat(10, 1fr);
  }
  .grid.rows-10-sm {
    grid-template-rows: repeat(10, 1fr);
  }
  .grid.auto-cols-10-sm {
    grid-auto-columns: 10fr;
  }
  .grid.auto-rows-10-sm {
    grid-auto-rows: 10fr;
  }
  .grid .colspan-10-sm {
    grid-column: span 10;
  }
  .grid .rowspan-10-sm {
    grid-row: span 10;
  }
  .grid.cols-11-sm {
    grid-template-columns: repeat(11, 1fr);
  }
  .grid.rows-11-sm {
    grid-template-rows: repeat(11, 1fr);
  }
  .grid.auto-cols-11-sm {
    grid-auto-columns: 11fr;
  }
  .grid.auto-rows-11-sm {
    grid-auto-rows: 11fr;
  }
  .grid .colspan-11-sm {
    grid-column: span 11;
  }
  .grid .rowspan-11-sm {
    grid-row: span 11;
  }
  .grid.cols-12-sm {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid.rows-12-sm {
    grid-template-rows: repeat(12, 1fr);
  }
  .grid.auto-cols-12-sm {
    grid-auto-columns: 12fr;
  }
  .grid.auto-rows-12-sm {
    grid-auto-rows: 12fr;
  }
  .grid .colspan-12-sm {
    grid-column: span 12;
  }
  .grid .rowspan-12-sm {
    grid-row: span 12;
  }
}
@media (min-width: 960px) {
  .grid.cols-2-md {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid.rows-2-md {
    grid-template-rows: repeat(2, 1fr);
  }
  .grid.auto-cols-2-md {
    grid-auto-columns: 2fr;
  }
  .grid.auto-rows-2-md {
    grid-auto-rows: 2fr;
  }
  .grid .colspan-2-md {
    grid-column: span 2;
  }
  .grid .rowspan-2-md {
    grid-row: span 2;
  }
  .grid.cols-3-md {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid.rows-3-md {
    grid-template-rows: repeat(3, 1fr);
  }
  .grid.auto-cols-3-md {
    grid-auto-columns: 3fr;
  }
  .grid.auto-rows-3-md {
    grid-auto-rows: 3fr;
  }
  .grid .colspan-3-md {
    grid-column: span 3;
  }
  .grid .rowspan-3-md {
    grid-row: span 3;
  }
  .grid.cols-4-md {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid.rows-4-md {
    grid-template-rows: repeat(4, 1fr);
  }
  .grid.auto-cols-4-md {
    grid-auto-columns: 4fr;
  }
  .grid.auto-rows-4-md {
    grid-auto-rows: 4fr;
  }
  .grid .colspan-4-md {
    grid-column: span 4;
  }
  .grid .rowspan-4-md {
    grid-row: span 4;
  }
  .grid.cols-5-md {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid.rows-5-md {
    grid-template-rows: repeat(5, 1fr);
  }
  .grid.auto-cols-5-md {
    grid-auto-columns: 5fr;
  }
  .grid.auto-rows-5-md {
    grid-auto-rows: 5fr;
  }
  .grid .colspan-5-md {
    grid-column: span 5;
  }
  .grid .rowspan-5-md {
    grid-row: span 5;
  }
  .grid.cols-6-md {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid.rows-6-md {
    grid-template-rows: repeat(6, 1fr);
  }
  .grid.auto-cols-6-md {
    grid-auto-columns: 6fr;
  }
  .grid.auto-rows-6-md {
    grid-auto-rows: 6fr;
  }
  .grid .colspan-6-md {
    grid-column: span 6;
  }
  .grid .rowspan-6-md {
    grid-row: span 6;
  }
  .grid.cols-7-md {
    grid-template-columns: repeat(7, 1fr);
  }
  .grid.rows-7-md {
    grid-template-rows: repeat(7, 1fr);
  }
  .grid.auto-cols-7-md {
    grid-auto-columns: 7fr;
  }
  .grid.auto-rows-7-md {
    grid-auto-rows: 7fr;
  }
  .grid .colspan-7-md {
    grid-column: span 7;
  }
  .grid .rowspan-7-md {
    grid-row: span 7;
  }
  .grid.cols-8-md {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.rows-8-md {
    grid-template-rows: repeat(8, 1fr);
  }
  .grid.auto-cols-8-md {
    grid-auto-columns: 8fr;
  }
  .grid.auto-rows-8-md {
    grid-auto-rows: 8fr;
  }
  .grid .colspan-8-md {
    grid-column: span 8;
  }
  .grid .rowspan-8-md {
    grid-row: span 8;
  }
  .grid.cols-9-md {
    grid-template-columns: repeat(9, 1fr);
  }
  .grid.rows-9-md {
    grid-template-rows: repeat(9, 1fr);
  }
  .grid.auto-cols-9-md {
    grid-auto-columns: 9fr;
  }
  .grid.auto-rows-9-md {
    grid-auto-rows: 9fr;
  }
  .grid .colspan-9-md {
    grid-column: span 9;
  }
  .grid .rowspan-9-md {
    grid-row: span 9;
  }
  .grid.cols-10-md {
    grid-template-columns: repeat(10, 1fr);
  }
  .grid.rows-10-md {
    grid-template-rows: repeat(10, 1fr);
  }
  .grid.auto-cols-10-md {
    grid-auto-columns: 10fr;
  }
  .grid.auto-rows-10-md {
    grid-auto-rows: 10fr;
  }
  .grid .colspan-10-md {
    grid-column: span 10;
  }
  .grid .rowspan-10-md {
    grid-row: span 10;
  }
  .grid.cols-11-md {
    grid-template-columns: repeat(11, 1fr);
  }
  .grid.rows-11-md {
    grid-template-rows: repeat(11, 1fr);
  }
  .grid.auto-cols-11-md {
    grid-auto-columns: 11fr;
  }
  .grid.auto-rows-11-md {
    grid-auto-rows: 11fr;
  }
  .grid .colspan-11-md {
    grid-column: span 11;
  }
  .grid .rowspan-11-md {
    grid-row: span 11;
  }
  .grid.cols-12-md {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid.rows-12-md {
    grid-template-rows: repeat(12, 1fr);
  }
  .grid.auto-cols-12-md {
    grid-auto-columns: 12fr;
  }
  .grid.auto-rows-12-md {
    grid-auto-rows: 12fr;
  }
  .grid .colspan-12-md {
    grid-column: span 12;
  }
  .grid .rowspan-12-md {
    grid-row: span 12;
  }
}
@media (min-width: 1280px) {
  .grid.cols-2-lg {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid.rows-2-lg {
    grid-template-rows: repeat(2, 1fr);
  }
  .grid.auto-cols-2-lg {
    grid-auto-columns: 2fr;
  }
  .grid.auto-rows-2-lg {
    grid-auto-rows: 2fr;
  }
  .grid .colspan-2-lg {
    grid-column: span 2;
  }
  .grid .rowspan-2-lg {
    grid-row: span 2;
  }
  .grid.cols-3-lg {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid.rows-3-lg {
    grid-template-rows: repeat(3, 1fr);
  }
  .grid.auto-cols-3-lg {
    grid-auto-columns: 3fr;
  }
  .grid.auto-rows-3-lg {
    grid-auto-rows: 3fr;
  }
  .grid .colspan-3-lg {
    grid-column: span 3;
  }
  .grid .rowspan-3-lg {
    grid-row: span 3;
  }
  .grid.cols-4-lg {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid.rows-4-lg {
    grid-template-rows: repeat(4, 1fr);
  }
  .grid.auto-cols-4-lg {
    grid-auto-columns: 4fr;
  }
  .grid.auto-rows-4-lg {
    grid-auto-rows: 4fr;
  }
  .grid .colspan-4-lg {
    grid-column: span 4;
  }
  .grid .rowspan-4-lg {
    grid-row: span 4;
  }
  .grid.cols-5-lg {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid.rows-5-lg {
    grid-template-rows: repeat(5, 1fr);
  }
  .grid.auto-cols-5-lg {
    grid-auto-columns: 5fr;
  }
  .grid.auto-rows-5-lg {
    grid-auto-rows: 5fr;
  }
  .grid .colspan-5-lg {
    grid-column: span 5;
  }
  .grid .rowspan-5-lg {
    grid-row: span 5;
  }
  .grid.cols-6-lg {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid.rows-6-lg {
    grid-template-rows: repeat(6, 1fr);
  }
  .grid.auto-cols-6-lg {
    grid-auto-columns: 6fr;
  }
  .grid.auto-rows-6-lg {
    grid-auto-rows: 6fr;
  }
  .grid .colspan-6-lg {
    grid-column: span 6;
  }
  .grid .rowspan-6-lg {
    grid-row: span 6;
  }
  .grid.cols-7-lg {
    grid-template-columns: repeat(7, 1fr);
  }
  .grid.rows-7-lg {
    grid-template-rows: repeat(7, 1fr);
  }
  .grid.auto-cols-7-lg {
    grid-auto-columns: 7fr;
  }
  .grid.auto-rows-7-lg {
    grid-auto-rows: 7fr;
  }
  .grid .colspan-7-lg {
    grid-column: span 7;
  }
  .grid .rowspan-7-lg {
    grid-row: span 7;
  }
  .grid.cols-8-lg {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.rows-8-lg {
    grid-template-rows: repeat(8, 1fr);
  }
  .grid.auto-cols-8-lg {
    grid-auto-columns: 8fr;
  }
  .grid.auto-rows-8-lg {
    grid-auto-rows: 8fr;
  }
  .grid .colspan-8-lg {
    grid-column: span 8;
  }
  .grid .rowspan-8-lg {
    grid-row: span 8;
  }
  .grid.cols-9-lg {
    grid-template-columns: repeat(9, 1fr);
  }
  .grid.rows-9-lg {
    grid-template-rows: repeat(9, 1fr);
  }
  .grid.auto-cols-9-lg {
    grid-auto-columns: 9fr;
  }
  .grid.auto-rows-9-lg {
    grid-auto-rows: 9fr;
  }
  .grid .colspan-9-lg {
    grid-column: span 9;
  }
  .grid .rowspan-9-lg {
    grid-row: span 9;
  }
  .grid.cols-10-lg {
    grid-template-columns: repeat(10, 1fr);
  }
  .grid.rows-10-lg {
    grid-template-rows: repeat(10, 1fr);
  }
  .grid.auto-cols-10-lg {
    grid-auto-columns: 10fr;
  }
  .grid.auto-rows-10-lg {
    grid-auto-rows: 10fr;
  }
  .grid .colspan-10-lg {
    grid-column: span 10;
  }
  .grid .rowspan-10-lg {
    grid-row: span 10;
  }
  .grid.cols-11-lg {
    grid-template-columns: repeat(11, 1fr);
  }
  .grid.rows-11-lg {
    grid-template-rows: repeat(11, 1fr);
  }
  .grid.auto-cols-11-lg {
    grid-auto-columns: 11fr;
  }
  .grid.auto-rows-11-lg {
    grid-auto-rows: 11fr;
  }
  .grid .colspan-11-lg {
    grid-column: span 11;
  }
  .grid .rowspan-11-lg {
    grid-row: span 11;
  }
  .grid.cols-12-lg {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid.rows-12-lg {
    grid-template-rows: repeat(12, 1fr);
  }
  .grid.auto-cols-12-lg {
    grid-auto-columns: 12fr;
  }
  .grid.auto-rows-12-lg {
    grid-auto-rows: 12fr;
  }
  .grid .colspan-12-lg {
    grid-column: span 12;
  }
  .grid .rowspan-12-lg {
    grid-row: span 12;
  }
}
@media (min-width: 1440px) {
  .grid.cols-2-xl {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid.rows-2-xl {
    grid-template-rows: repeat(2, 1fr);
  }
  .grid.auto-cols-2-xl {
    grid-auto-columns: 2fr;
  }
  .grid.auto-rows-2-xl {
    grid-auto-rows: 2fr;
  }
  .grid .colspan-2-xl {
    grid-column: span 2;
  }
  .grid .rowspan-2-xl {
    grid-row: span 2;
  }
  .grid.cols-3-xl {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid.rows-3-xl {
    grid-template-rows: repeat(3, 1fr);
  }
  .grid.auto-cols-3-xl {
    grid-auto-columns: 3fr;
  }
  .grid.auto-rows-3-xl {
    grid-auto-rows: 3fr;
  }
  .grid .colspan-3-xl {
    grid-column: span 3;
  }
  .grid .rowspan-3-xl {
    grid-row: span 3;
  }
  .grid.cols-4-xl {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid.rows-4-xl {
    grid-template-rows: repeat(4, 1fr);
  }
  .grid.auto-cols-4-xl {
    grid-auto-columns: 4fr;
  }
  .grid.auto-rows-4-xl {
    grid-auto-rows: 4fr;
  }
  .grid .colspan-4-xl {
    grid-column: span 4;
  }
  .grid .rowspan-4-xl {
    grid-row: span 4;
  }
  .grid.cols-5-xl {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid.rows-5-xl {
    grid-template-rows: repeat(5, 1fr);
  }
  .grid.auto-cols-5-xl {
    grid-auto-columns: 5fr;
  }
  .grid.auto-rows-5-xl {
    grid-auto-rows: 5fr;
  }
  .grid .colspan-5-xl {
    grid-column: span 5;
  }
  .grid .rowspan-5-xl {
    grid-row: span 5;
  }
  .grid.cols-6-xl {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid.rows-6-xl {
    grid-template-rows: repeat(6, 1fr);
  }
  .grid.auto-cols-6-xl {
    grid-auto-columns: 6fr;
  }
  .grid.auto-rows-6-xl {
    grid-auto-rows: 6fr;
  }
  .grid .colspan-6-xl {
    grid-column: span 6;
  }
  .grid .rowspan-6-xl {
    grid-row: span 6;
  }
  .grid.cols-7-xl {
    grid-template-columns: repeat(7, 1fr);
  }
  .grid.rows-7-xl {
    grid-template-rows: repeat(7, 1fr);
  }
  .grid.auto-cols-7-xl {
    grid-auto-columns: 7fr;
  }
  .grid.auto-rows-7-xl {
    grid-auto-rows: 7fr;
  }
  .grid .colspan-7-xl {
    grid-column: span 7;
  }
  .grid .rowspan-7-xl {
    grid-row: span 7;
  }
  .grid.cols-8-xl {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.rows-8-xl {
    grid-template-rows: repeat(8, 1fr);
  }
  .grid.auto-cols-8-xl {
    grid-auto-columns: 8fr;
  }
  .grid.auto-rows-8-xl {
    grid-auto-rows: 8fr;
  }
  .grid .colspan-8-xl {
    grid-column: span 8;
  }
  .grid .rowspan-8-xl {
    grid-row: span 8;
  }
  .grid.cols-9-xl {
    grid-template-columns: repeat(9, 1fr);
  }
  .grid.rows-9-xl {
    grid-template-rows: repeat(9, 1fr);
  }
  .grid.auto-cols-9-xl {
    grid-auto-columns: 9fr;
  }
  .grid.auto-rows-9-xl {
    grid-auto-rows: 9fr;
  }
  .grid .colspan-9-xl {
    grid-column: span 9;
  }
  .grid .rowspan-9-xl {
    grid-row: span 9;
  }
  .grid.cols-10-xl {
    grid-template-columns: repeat(10, 1fr);
  }
  .grid.rows-10-xl {
    grid-template-rows: repeat(10, 1fr);
  }
  .grid.auto-cols-10-xl {
    grid-auto-columns: 10fr;
  }
  .grid.auto-rows-10-xl {
    grid-auto-rows: 10fr;
  }
  .grid .colspan-10-xl {
    grid-column: span 10;
  }
  .grid .rowspan-10-xl {
    grid-row: span 10;
  }
  .grid.cols-11-xl {
    grid-template-columns: repeat(11, 1fr);
  }
  .grid.rows-11-xl {
    grid-template-rows: repeat(11, 1fr);
  }
  .grid.auto-cols-11-xl {
    grid-auto-columns: 11fr;
  }
  .grid.auto-rows-11-xl {
    grid-auto-rows: 11fr;
  }
  .grid .colspan-11-xl {
    grid-column: span 11;
  }
  .grid .rowspan-11-xl {
    grid-row: span 11;
  }
  .grid.cols-12-xl {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid.rows-12-xl {
    grid-template-rows: repeat(12, 1fr);
  }
  .grid.auto-cols-12-xl {
    grid-auto-columns: 12fr;
  }
  .grid.auto-rows-12-xl {
    grid-auto-rows: 12fr;
  }
  .grid .colspan-12-xl {
    grid-column: span 12;
  }
  .grid .rowspan-12-xl {
    grid-row: span 12;
  }
}
@media (min-width: 1920px) {
  .grid.cols-2-xxl {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid.rows-2-xxl {
    grid-template-rows: repeat(2, 1fr);
  }
  .grid.auto-cols-2-xxl {
    grid-auto-columns: 2fr;
  }
  .grid.auto-rows-2-xxl {
    grid-auto-rows: 2fr;
  }
  .grid .colspan-2-xxl {
    grid-column: span 2;
  }
  .grid .rowspan-2-xxl {
    grid-row: span 2;
  }
  .grid.cols-3-xxl {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid.rows-3-xxl {
    grid-template-rows: repeat(3, 1fr);
  }
  .grid.auto-cols-3-xxl {
    grid-auto-columns: 3fr;
  }
  .grid.auto-rows-3-xxl {
    grid-auto-rows: 3fr;
  }
  .grid .colspan-3-xxl {
    grid-column: span 3;
  }
  .grid .rowspan-3-xxl {
    grid-row: span 3;
  }
  .grid.cols-4-xxl {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid.rows-4-xxl {
    grid-template-rows: repeat(4, 1fr);
  }
  .grid.auto-cols-4-xxl {
    grid-auto-columns: 4fr;
  }
  .grid.auto-rows-4-xxl {
    grid-auto-rows: 4fr;
  }
  .grid .colspan-4-xxl {
    grid-column: span 4;
  }
  .grid .rowspan-4-xxl {
    grid-row: span 4;
  }
  .grid.cols-5-xxl {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid.rows-5-xxl {
    grid-template-rows: repeat(5, 1fr);
  }
  .grid.auto-cols-5-xxl {
    grid-auto-columns: 5fr;
  }
  .grid.auto-rows-5-xxl {
    grid-auto-rows: 5fr;
  }
  .grid .colspan-5-xxl {
    grid-column: span 5;
  }
  .grid .rowspan-5-xxl {
    grid-row: span 5;
  }
  .grid.cols-6-xxl {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid.rows-6-xxl {
    grid-template-rows: repeat(6, 1fr);
  }
  .grid.auto-cols-6-xxl {
    grid-auto-columns: 6fr;
  }
  .grid.auto-rows-6-xxl {
    grid-auto-rows: 6fr;
  }
  .grid .colspan-6-xxl {
    grid-column: span 6;
  }
  .grid .rowspan-6-xxl {
    grid-row: span 6;
  }
  .grid.cols-7-xxl {
    grid-template-columns: repeat(7, 1fr);
  }
  .grid.rows-7-xxl {
    grid-template-rows: repeat(7, 1fr);
  }
  .grid.auto-cols-7-xxl {
    grid-auto-columns: 7fr;
  }
  .grid.auto-rows-7-xxl {
    grid-auto-rows: 7fr;
  }
  .grid .colspan-7-xxl {
    grid-column: span 7;
  }
  .grid .rowspan-7-xxl {
    grid-row: span 7;
  }
  .grid.cols-8-xxl {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.rows-8-xxl {
    grid-template-rows: repeat(8, 1fr);
  }
  .grid.auto-cols-8-xxl {
    grid-auto-columns: 8fr;
  }
  .grid.auto-rows-8-xxl {
    grid-auto-rows: 8fr;
  }
  .grid .colspan-8-xxl {
    grid-column: span 8;
  }
  .grid .rowspan-8-xxl {
    grid-row: span 8;
  }
  .grid.cols-9-xxl {
    grid-template-columns: repeat(9, 1fr);
  }
  .grid.rows-9-xxl {
    grid-template-rows: repeat(9, 1fr);
  }
  .grid.auto-cols-9-xxl {
    grid-auto-columns: 9fr;
  }
  .grid.auto-rows-9-xxl {
    grid-auto-rows: 9fr;
  }
  .grid .colspan-9-xxl {
    grid-column: span 9;
  }
  .grid .rowspan-9-xxl {
    grid-row: span 9;
  }
  .grid.cols-10-xxl {
    grid-template-columns: repeat(10, 1fr);
  }
  .grid.rows-10-xxl {
    grid-template-rows: repeat(10, 1fr);
  }
  .grid.auto-cols-10-xxl {
    grid-auto-columns: 10fr;
  }
  .grid.auto-rows-10-xxl {
    grid-auto-rows: 10fr;
  }
  .grid .colspan-10-xxl {
    grid-column: span 10;
  }
  .grid .rowspan-10-xxl {
    grid-row: span 10;
  }
  .grid.cols-11-xxl {
    grid-template-columns: repeat(11, 1fr);
  }
  .grid.rows-11-xxl {
    grid-template-rows: repeat(11, 1fr);
  }
  .grid.auto-cols-11-xxl {
    grid-auto-columns: 11fr;
  }
  .grid.auto-rows-11-xxl {
    grid-auto-rows: 11fr;
  }
  .grid .colspan-11-xxl {
    grid-column: span 11;
  }
  .grid .rowspan-11-xxl {
    grid-row: span 11;
  }
  .grid.cols-12-xxl {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid.rows-12-xxl {
    grid-template-rows: repeat(12, 1fr);
  }
  .grid.auto-cols-12-xxl {
    grid-auto-columns: 12fr;
  }
  .grid.auto-rows-12-xxl {
    grid-auto-rows: 12fr;
  }
  .grid .colspan-12-xxl {
    grid-column: span 12;
  }
  .grid .rowspan-12-xxl {
    grid-row: span 12;
  }
}
.grid.gap-0-1 {
  grid-gap: 0rem 1rem;
  gap: 0rem 1rem;
}
.grid.gap-0-2 {
  grid-gap: 0rem 2rem;
  gap: 0rem 2rem;
}
.grid.gap-0-3 {
  grid-gap: 0rem 3rem;
  gap: 0rem 3rem;
}
.grid.gap-0-4 {
  grid-gap: 0rem 4rem;
  gap: 0rem 4rem;
}
.grid.gap-0-5 {
  grid-gap: 0rem 5rem;
  gap: 0rem 5rem;
}
.grid.gap-1-0 {
  grid-gap: 1rem 0rem;
  gap: 1rem 0rem;
}
.grid.gap-1-2 {
  grid-gap: 1rem 2rem;
  gap: 1rem 2rem;
}
.grid.gap-1-3 {
  grid-gap: 1rem 3rem;
  gap: 1rem 3rem;
}
.grid.gap-1-4 {
  grid-gap: 1rem 4rem;
  gap: 1rem 4rem;
}
.grid.gap-1-5 {
  grid-gap: 1rem 5rem;
  gap: 1rem 5rem;
}
.grid.gap-2-0 {
  grid-gap: 2rem 0rem;
  gap: 2rem 0rem;
}
.grid.gap-2-1 {
  grid-gap: 2rem 1rem;
  gap: 2rem 1rem;
}
.grid.gap-2-3 {
  grid-gap: 2rem 3rem;
  gap: 2rem 3rem;
}
.grid.gap-2-4 {
  grid-gap: 2rem 4rem;
  gap: 2rem 4rem;
}
.grid.gap-2-5 {
  grid-gap: 2rem 5rem;
  gap: 2rem 5rem;
}
.grid.gap-3-0 {
  grid-gap: 3rem 0rem;
  gap: 3rem 0rem;
}
.grid.gap-3-1 {
  grid-gap: 3rem 1rem;
  gap: 3rem 1rem;
}
.grid.gap-3-2 {
  grid-gap: 3rem 2rem;
  gap: 3rem 2rem;
}
.grid.gap-3-4 {
  grid-gap: 3rem 4rem;
  gap: 3rem 4rem;
}
.grid.gap-3-5 {
  grid-gap: 3rem 5rem;
  gap: 3rem 5rem;
}
.grid.gap-4-0 {
  grid-gap: 4rem 0rem;
  gap: 4rem 0rem;
}
.grid.gap-4-1 {
  grid-gap: 4rem 1rem;
  gap: 4rem 1rem;
}
.grid.gap-4-2 {
  grid-gap: 4rem 2rem;
  gap: 4rem 2rem;
}
.grid.gap-4-3 {
  grid-gap: 4rem 3rem;
  gap: 4rem 3rem;
}
.grid.gap-4-5 {
  grid-gap: 4rem 5rem;
  gap: 4rem 5rem;
}
.grid.gap-5-0 {
  grid-gap: 5rem 0rem;
  gap: 5rem 0rem;
}
.grid.gap-5-1 {
  grid-gap: 5rem 1rem;
  gap: 5rem 1rem;
}
.grid.gap-5-2 {
  grid-gap: 5rem 2rem;
  gap: 5rem 2rem;
}
.grid.gap-5-3 {
  grid-gap: 5rem 3rem;
  gap: 5rem 3rem;
}
.grid.gap-5-4 {
  grid-gap: 5rem 4rem;
  gap: 5rem 4rem;
}
.grid.gap-1 {
  grid-gap: 1rem;
  gap: 1rem;
}
.grid.gap-2 {
  grid-gap: 2rem;
  gap: 2rem;
}
.grid.gap-3 {
  grid-gap: 3rem;
  gap: 3rem;
}
.grid.gap-4 {
  grid-gap: 4rem;
  gap: 4rem;
}
.grid.gap-5 {
  grid-gap: 5rem;
  gap: 5rem;
}
.grid.auto-flow-column {
  grid-auto-flow: column;
}
.grid.auto-flow-row {
  grid-auto-flow: row;
}
.grid.auto-flow-dense {
  grid-auto-flow: dense;
}
.grid.align-items-start {
  align-items: start;
}
.grid.justify-items-start {
  justify-items: start;
}
.grid.align-items-center {
  align-items: center;
}
.grid.justify-items-center {
  justify-items: center;
}
.grid.align-items-end {
  align-items: end;
}
.grid.justify-items-end {
  justify-items: end;
}
.grid .align-self-start {
  align-self: start;
}
.grid .justify-self-start {
  justify-self: start;
}
.grid .align-self-center {
  align-self: center;
}
.grid .justify-self-center {
  justify-self: center;
}
.grid .align-self-end {
  align-self: end;
}
.grid .justify-self-end {
  justify-self: end;
}
.grid.bordered > * {
  border: 1px dashed black;
}

.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.h-full {
  height: 100%;
}

.h-half {
  height: 50%;
}

.constrained {
  max-width: 1280px;
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-bottom: auto;
  margin-top: auto;
}

.m-1 {
  margin: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-1 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.p-1 {
  padding: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.m-2 {
  margin: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-2 {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.p-2 {
  padding: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pl-2 {
  padding-left: 2rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-2 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.m-3 {
  margin: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mr-3 {
  margin-right: 3rem;
}

.ml-3 {
  margin-left: 3rem;
}

.mx-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-3 {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.p-3 {
  padding: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pl-3 {
  padding-left: 3rem;
}

.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-3 {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.m-4 {
  margin: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mr-4 {
  margin-right: 4rem;
}

.ml-4 {
  margin-left: 4rem;
}

.mx-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.my-4 {
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.p-4 {
  padding: 4rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pr-4 {
  padding-right: 4rem;
}

.pl-4 {
  padding-left: 4rem;
}

.px-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-4 {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.m-5 {
  margin: 5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mr-5 {
  margin-right: 5rem;
}

.ml-5 {
  margin-left: 5rem;
}

.mx-5 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.my-5 {
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.p-5 {
  padding: 5rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pr-5 {
  padding-right: 5rem;
}

.pl-5 {
  padding-left: 5rem;
}

.px-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.py-5 {
  padding-bottom: 5rem;
  padding-top: 5rem;
}

@media (min-width: 600px) {
  .m-auto-sm {
    margin: auto;
  }

  .mx-auto-sm {
    margin-left: auto;
    margin-right: auto;
  }

  .my-auto-sm {
    margin-bottom: auto;
    margin-top: auto;
  }

  .m-1-sm {
    margin-inline-start: 1rem;
  }

  .mb-1-sm {
    margin-bottom: 1rem;
  }

  .mt-1-sm {
    margin-top: 1rem;
  }

  .mr-1-sm {
    margin-right: 1rem;
  }

  .ml-1-sm {
    margin-left: 1rem;
  }

  .mx-1-sm {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .my-1-sm {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .p-1-sm {
    padding: 1rem;
  }

  .pb-1-sm {
    padding-bottom: 1rem;
  }

  .pt-1-sm {
    padding-top: 1rem;
  }

  .pr-1-sm {
    padding-right: 1rem;
  }

  .pl-1-sm {
    padding-left: 1rem;
  }

  .px-1-sm {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .py-1-sm {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .m-2-sm {
    margin-inline-start: 2rem;
  }

  .mb-2-sm {
    margin-bottom: 2rem;
  }

  .mt-2-sm {
    margin-top: 2rem;
  }

  .mr-2-sm {
    margin-right: 2rem;
  }

  .ml-2-sm {
    margin-left: 2rem;
  }

  .mx-2-sm {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .my-2-sm {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .p-2-sm {
    padding: 2rem;
  }

  .pb-2-sm {
    padding-bottom: 2rem;
  }

  .pt-2-sm {
    padding-top: 2rem;
  }

  .pr-2-sm {
    padding-right: 2rem;
  }

  .pl-2-sm {
    padding-left: 2rem;
  }

  .px-2-sm {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .py-2-sm {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .m-3-sm {
    margin-inline-start: 3rem;
  }

  .mb-3-sm {
    margin-bottom: 3rem;
  }

  .mt-3-sm {
    margin-top: 3rem;
  }

  .mr-3-sm {
    margin-right: 3rem;
  }

  .ml-3-sm {
    margin-left: 3rem;
  }

  .mx-3-sm {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .my-3-sm {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  .p-3-sm {
    padding: 3rem;
  }

  .pb-3-sm {
    padding-bottom: 3rem;
  }

  .pt-3-sm {
    padding-top: 3rem;
  }

  .pr-3-sm {
    padding-right: 3rem;
  }

  .pl-3-sm {
    padding-left: 3rem;
  }

  .px-3-sm {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .py-3-sm {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  .m-4-sm {
    margin-inline-start: 4rem;
  }

  .mb-4-sm {
    margin-bottom: 4rem;
  }

  .mt-4-sm {
    margin-top: 4rem;
  }

  .mr-4-sm {
    margin-right: 4rem;
  }

  .ml-4-sm {
    margin-left: 4rem;
  }

  .mx-4-sm {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .my-4-sm {
    margin-bottom: 4rem;
    margin-top: 4rem;
  }

  .p-4-sm {
    padding: 4rem;
  }

  .pb-4-sm {
    padding-bottom: 4rem;
  }

  .pt-4-sm {
    padding-top: 4rem;
  }

  .pr-4-sm {
    padding-right: 4rem;
  }

  .pl-4-sm {
    padding-left: 4rem;
  }

  .px-4-sm {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .py-4-sm {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }

  .m-5-sm {
    margin-inline-start: 5rem;
  }

  .mb-5-sm {
    margin-bottom: 5rem;
  }

  .mt-5-sm {
    margin-top: 5rem;
  }

  .mr-5-sm {
    margin-right: 5rem;
  }

  .ml-5-sm {
    margin-left: 5rem;
  }

  .mx-5-sm {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .my-5-sm {
    margin-bottom: 5rem;
    margin-top: 5rem;
  }

  .p-5-sm {
    padding: 5rem;
  }

  .pb-5-sm {
    padding-bottom: 5rem;
  }

  .pt-5-sm {
    padding-top: 5rem;
  }

  .pr-5-sm {
    padding-right: 5rem;
  }

  .pl-5-sm {
    padding-left: 5rem;
  }

  .px-5-sm {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .py-5-sm {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
}
@media (min-width: 960px) {
  .m-auto-md {
    margin: auto;
  }

  .mx-auto-md {
    margin-left: auto;
    margin-right: auto;
  }

  .my-auto-md {
    margin-bottom: auto;
    margin-top: auto;
  }

  .m-1-md {
    margin-inline-start: 1rem;
  }

  .mb-1-md {
    margin-bottom: 1rem;
  }

  .mt-1-md {
    margin-top: 1rem;
  }

  .mr-1-md {
    margin-right: 1rem;
  }

  .ml-1-md {
    margin-left: 1rem;
  }

  .mx-1-md {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .my-1-md {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .p-1-md {
    padding: 1rem;
  }

  .pb-1-md {
    padding-bottom: 1rem;
  }

  .pt-1-md {
    padding-top: 1rem;
  }

  .pr-1-md {
    padding-right: 1rem;
  }

  .pl-1-md {
    padding-left: 1rem;
  }

  .px-1-md {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .py-1-md {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .m-2-md {
    margin-inline-start: 2rem;
  }

  .mb-2-md {
    margin-bottom: 2rem;
  }

  .mt-2-md {
    margin-top: 2rem;
  }

  .mr-2-md {
    margin-right: 2rem;
  }

  .ml-2-md {
    margin-left: 2rem;
  }

  .mx-2-md {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .my-2-md {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .p-2-md {
    padding: 2rem;
  }

  .pb-2-md {
    padding-bottom: 2rem;
  }

  .pt-2-md {
    padding-top: 2rem;
  }

  .pr-2-md {
    padding-right: 2rem;
  }

  .pl-2-md {
    padding-left: 2rem;
  }

  .px-2-md {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .py-2-md {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .m-3-md {
    margin-inline-start: 3rem;
  }

  .mb-3-md {
    margin-bottom: 3rem;
  }

  .mt-3-md {
    margin-top: 3rem;
  }

  .mr-3-md {
    margin-right: 3rem;
  }

  .ml-3-md {
    margin-left: 3rem;
  }

  .mx-3-md {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .my-3-md {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  .p-3-md {
    padding: 3rem;
  }

  .pb-3-md {
    padding-bottom: 3rem;
  }

  .pt-3-md {
    padding-top: 3rem;
  }

  .pr-3-md {
    padding-right: 3rem;
  }

  .pl-3-md {
    padding-left: 3rem;
  }

  .px-3-md {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .py-3-md {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  .m-4-md {
    margin-inline-start: 4rem;
  }

  .mb-4-md {
    margin-bottom: 4rem;
  }

  .mt-4-md {
    margin-top: 4rem;
  }

  .mr-4-md {
    margin-right: 4rem;
  }

  .ml-4-md {
    margin-left: 4rem;
  }

  .mx-4-md {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .my-4-md {
    margin-bottom: 4rem;
    margin-top: 4rem;
  }

  .p-4-md {
    padding: 4rem;
  }

  .pb-4-md {
    padding-bottom: 4rem;
  }

  .pt-4-md {
    padding-top: 4rem;
  }

  .pr-4-md {
    padding-right: 4rem;
  }

  .pl-4-md {
    padding-left: 4rem;
  }

  .px-4-md {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .py-4-md {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }

  .m-5-md {
    margin-inline-start: 5rem;
  }

  .mb-5-md {
    margin-bottom: 5rem;
  }

  .mt-5-md {
    margin-top: 5rem;
  }

  .mr-5-md {
    margin-right: 5rem;
  }

  .ml-5-md {
    margin-left: 5rem;
  }

  .mx-5-md {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .my-5-md {
    margin-bottom: 5rem;
    margin-top: 5rem;
  }

  .p-5-md {
    padding: 5rem;
  }

  .pb-5-md {
    padding-bottom: 5rem;
  }

  .pt-5-md {
    padding-top: 5rem;
  }

  .pr-5-md {
    padding-right: 5rem;
  }

  .pl-5-md {
    padding-left: 5rem;
  }

  .px-5-md {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .py-5-md {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
}
@media (min-width: 1280px) {
  .m-auto-lg {
    margin: auto;
  }

  .mx-auto-lg {
    margin-left: auto;
    margin-right: auto;
  }

  .my-auto-lg {
    margin-bottom: auto;
    margin-top: auto;
  }

  .m-1-lg {
    margin-inline-start: 1rem;
  }

  .mb-1-lg {
    margin-bottom: 1rem;
  }

  .mt-1-lg {
    margin-top: 1rem;
  }

  .mr-1-lg {
    margin-right: 1rem;
  }

  .ml-1-lg {
    margin-left: 1rem;
  }

  .mx-1-lg {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .my-1-lg {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .p-1-lg {
    padding: 1rem;
  }

  .pb-1-lg {
    padding-bottom: 1rem;
  }

  .pt-1-lg {
    padding-top: 1rem;
  }

  .pr-1-lg {
    padding-right: 1rem;
  }

  .pl-1-lg {
    padding-left: 1rem;
  }

  .px-1-lg {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .py-1-lg {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .m-2-lg {
    margin-inline-start: 2rem;
  }

  .mb-2-lg {
    margin-bottom: 2rem;
  }

  .mt-2-lg {
    margin-top: 2rem;
  }

  .mr-2-lg {
    margin-right: 2rem;
  }

  .ml-2-lg {
    margin-left: 2rem;
  }

  .mx-2-lg {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .my-2-lg {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .p-2-lg {
    padding: 2rem;
  }

  .pb-2-lg {
    padding-bottom: 2rem;
  }

  .pt-2-lg {
    padding-top: 2rem;
  }

  .pr-2-lg {
    padding-right: 2rem;
  }

  .pl-2-lg {
    padding-left: 2rem;
  }

  .px-2-lg {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .py-2-lg {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .m-3-lg {
    margin-inline-start: 3rem;
  }

  .mb-3-lg {
    margin-bottom: 3rem;
  }

  .mt-3-lg {
    margin-top: 3rem;
  }

  .mr-3-lg {
    margin-right: 3rem;
  }

  .ml-3-lg {
    margin-left: 3rem;
  }

  .mx-3-lg {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .my-3-lg {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  .p-3-lg {
    padding: 3rem;
  }

  .pb-3-lg {
    padding-bottom: 3rem;
  }

  .pt-3-lg {
    padding-top: 3rem;
  }

  .pr-3-lg {
    padding-right: 3rem;
  }

  .pl-3-lg {
    padding-left: 3rem;
  }

  .px-3-lg {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .py-3-lg {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  .m-4-lg {
    margin-inline-start: 4rem;
  }

  .mb-4-lg {
    margin-bottom: 4rem;
  }

  .mt-4-lg {
    margin-top: 4rem;
  }

  .mr-4-lg {
    margin-right: 4rem;
  }

  .ml-4-lg {
    margin-left: 4rem;
  }

  .mx-4-lg {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .my-4-lg {
    margin-bottom: 4rem;
    margin-top: 4rem;
  }

  .p-4-lg {
    padding: 4rem;
  }

  .pb-4-lg {
    padding-bottom: 4rem;
  }

  .pt-4-lg {
    padding-top: 4rem;
  }

  .pr-4-lg {
    padding-right: 4rem;
  }

  .pl-4-lg {
    padding-left: 4rem;
  }

  .px-4-lg {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .py-4-lg {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }

  .m-5-lg {
    margin-inline-start: 5rem;
  }

  .mb-5-lg {
    margin-bottom: 5rem;
  }

  .mt-5-lg {
    margin-top: 5rem;
  }

  .mr-5-lg {
    margin-right: 5rem;
  }

  .ml-5-lg {
    margin-left: 5rem;
  }

  .mx-5-lg {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .my-5-lg {
    margin-bottom: 5rem;
    margin-top: 5rem;
  }

  .p-5-lg {
    padding: 5rem;
  }

  .pb-5-lg {
    padding-bottom: 5rem;
  }

  .pt-5-lg {
    padding-top: 5rem;
  }

  .pr-5-lg {
    padding-right: 5rem;
  }

  .pl-5-lg {
    padding-left: 5rem;
  }

  .px-5-lg {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .py-5-lg {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
}
@media (min-width: 1440px) {
  .m-auto-xl {
    margin: auto;
  }

  .mx-auto-xl {
    margin-left: auto;
    margin-right: auto;
  }

  .my-auto-xl {
    margin-bottom: auto;
    margin-top: auto;
  }

  .m-1-xl {
    margin-inline-start: 1rem;
  }

  .mb-1-xl {
    margin-bottom: 1rem;
  }

  .mt-1-xl {
    margin-top: 1rem;
  }

  .mr-1-xl {
    margin-right: 1rem;
  }

  .ml-1-xl {
    margin-left: 1rem;
  }

  .mx-1-xl {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .my-1-xl {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .p-1-xl {
    padding: 1rem;
  }

  .pb-1-xl {
    padding-bottom: 1rem;
  }

  .pt-1-xl {
    padding-top: 1rem;
  }

  .pr-1-xl {
    padding-right: 1rem;
  }

  .pl-1-xl {
    padding-left: 1rem;
  }

  .px-1-xl {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .py-1-xl {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .m-2-xl {
    margin-inline-start: 2rem;
  }

  .mb-2-xl {
    margin-bottom: 2rem;
  }

  .mt-2-xl {
    margin-top: 2rem;
  }

  .mr-2-xl {
    margin-right: 2rem;
  }

  .ml-2-xl {
    margin-left: 2rem;
  }

  .mx-2-xl {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .my-2-xl {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .p-2-xl {
    padding: 2rem;
  }

  .pb-2-xl {
    padding-bottom: 2rem;
  }

  .pt-2-xl {
    padding-top: 2rem;
  }

  .pr-2-xl {
    padding-right: 2rem;
  }

  .pl-2-xl {
    padding-left: 2rem;
  }

  .px-2-xl {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .py-2-xl {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .m-3-xl {
    margin-inline-start: 3rem;
  }

  .mb-3-xl {
    margin-bottom: 3rem;
  }

  .mt-3-xl {
    margin-top: 3rem;
  }

  .mr-3-xl {
    margin-right: 3rem;
  }

  .ml-3-xl {
    margin-left: 3rem;
  }

  .mx-3-xl {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .my-3-xl {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  .p-3-xl {
    padding: 3rem;
  }

  .pb-3-xl {
    padding-bottom: 3rem;
  }

  .pt-3-xl {
    padding-top: 3rem;
  }

  .pr-3-xl {
    padding-right: 3rem;
  }

  .pl-3-xl {
    padding-left: 3rem;
  }

  .px-3-xl {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .py-3-xl {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  .m-4-xl {
    margin-inline-start: 4rem;
  }

  .mb-4-xl {
    margin-bottom: 4rem;
  }

  .mt-4-xl {
    margin-top: 4rem;
  }

  .mr-4-xl {
    margin-right: 4rem;
  }

  .ml-4-xl {
    margin-left: 4rem;
  }

  .mx-4-xl {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .my-4-xl {
    margin-bottom: 4rem;
    margin-top: 4rem;
  }

  .p-4-xl {
    padding: 4rem;
  }

  .pb-4-xl {
    padding-bottom: 4rem;
  }

  .pt-4-xl {
    padding-top: 4rem;
  }

  .pr-4-xl {
    padding-right: 4rem;
  }

  .pl-4-xl {
    padding-left: 4rem;
  }

  .px-4-xl {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .py-4-xl {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }

  .m-5-xl {
    margin-inline-start: 5rem;
  }

  .mb-5-xl {
    margin-bottom: 5rem;
  }

  .mt-5-xl {
    margin-top: 5rem;
  }

  .mr-5-xl {
    margin-right: 5rem;
  }

  .ml-5-xl {
    margin-left: 5rem;
  }

  .mx-5-xl {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .my-5-xl {
    margin-bottom: 5rem;
    margin-top: 5rem;
  }

  .p-5-xl {
    padding: 5rem;
  }

  .pb-5-xl {
    padding-bottom: 5rem;
  }

  .pt-5-xl {
    padding-top: 5rem;
  }

  .pr-5-xl {
    padding-right: 5rem;
  }

  .pl-5-xl {
    padding-left: 5rem;
  }

  .px-5-xl {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .py-5-xl {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
}
@media (min-width: 1920px) {
  .m-auto-xxl {
    margin: auto;
  }

  .mx-auto-xxl {
    margin-left: auto;
    margin-right: auto;
  }

  .my-auto-xxl {
    margin-bottom: auto;
    margin-top: auto;
  }

  .m-1-xxl {
    margin-inline-start: 1rem;
  }

  .mb-1-xxl {
    margin-bottom: 1rem;
  }

  .mt-1-xxl {
    margin-top: 1rem;
  }

  .mr-1-xxl {
    margin-right: 1rem;
  }

  .ml-1-xxl {
    margin-left: 1rem;
  }

  .mx-1-xxl {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .my-1-xxl {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .p-1-xxl {
    padding: 1rem;
  }

  .pb-1-xxl {
    padding-bottom: 1rem;
  }

  .pt-1-xxl {
    padding-top: 1rem;
  }

  .pr-1-xxl {
    padding-right: 1rem;
  }

  .pl-1-xxl {
    padding-left: 1rem;
  }

  .px-1-xxl {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .py-1-xxl {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .m-2-xxl {
    margin-inline-start: 2rem;
  }

  .mb-2-xxl {
    margin-bottom: 2rem;
  }

  .mt-2-xxl {
    margin-top: 2rem;
  }

  .mr-2-xxl {
    margin-right: 2rem;
  }

  .ml-2-xxl {
    margin-left: 2rem;
  }

  .mx-2-xxl {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .my-2-xxl {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .p-2-xxl {
    padding: 2rem;
  }

  .pb-2-xxl {
    padding-bottom: 2rem;
  }

  .pt-2-xxl {
    padding-top: 2rem;
  }

  .pr-2-xxl {
    padding-right: 2rem;
  }

  .pl-2-xxl {
    padding-left: 2rem;
  }

  .px-2-xxl {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .py-2-xxl {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .m-3-xxl {
    margin-inline-start: 3rem;
  }

  .mb-3-xxl {
    margin-bottom: 3rem;
  }

  .mt-3-xxl {
    margin-top: 3rem;
  }

  .mr-3-xxl {
    margin-right: 3rem;
  }

  .ml-3-xxl {
    margin-left: 3rem;
  }

  .mx-3-xxl {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .my-3-xxl {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  .p-3-xxl {
    padding: 3rem;
  }

  .pb-3-xxl {
    padding-bottom: 3rem;
  }

  .pt-3-xxl {
    padding-top: 3rem;
  }

  .pr-3-xxl {
    padding-right: 3rem;
  }

  .pl-3-xxl {
    padding-left: 3rem;
  }

  .px-3-xxl {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .py-3-xxl {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  .m-4-xxl {
    margin-inline-start: 4rem;
  }

  .mb-4-xxl {
    margin-bottom: 4rem;
  }

  .mt-4-xxl {
    margin-top: 4rem;
  }

  .mr-4-xxl {
    margin-right: 4rem;
  }

  .ml-4-xxl {
    margin-left: 4rem;
  }

  .mx-4-xxl {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .my-4-xxl {
    margin-bottom: 4rem;
    margin-top: 4rem;
  }

  .p-4-xxl {
    padding: 4rem;
  }

  .pb-4-xxl {
    padding-bottom: 4rem;
  }

  .pt-4-xxl {
    padding-top: 4rem;
  }

  .pr-4-xxl {
    padding-right: 4rem;
  }

  .pl-4-xxl {
    padding-left: 4rem;
  }

  .px-4-xxl {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .py-4-xxl {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }

  .m-5-xxl {
    margin-inline-start: 5rem;
  }

  .mb-5-xxl {
    margin-bottom: 5rem;
  }

  .mt-5-xxl {
    margin-top: 5rem;
  }

  .mr-5-xxl {
    margin-right: 5rem;
  }

  .ml-5-xxl {
    margin-left: 5rem;
  }

  .mx-5-xxl {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .my-5-xxl {
    margin-bottom: 5rem;
    margin-top: 5rem;
  }

  .p-5-xxl {
    padding: 5rem;
  }

  .pb-5-xxl {
    padding-bottom: 5rem;
  }

  .pt-5-xxl {
    padding-top: 5rem;
  }

  .pr-5-xxl {
    padding-right: 5rem;
  }

  .pl-5-xxl {
    padding-left: 5rem;
  }

  .px-5-xxl {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .py-5-xxl {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
}
.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.text-center {
  text-align: center;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.shown-sm {
  display: none;
}

@media (min-width: 600px) {
  .hidden-sm {
    display: none;
  }

  .shown-sm {
    display: block;
  }
}
.shown-md {
  display: none;
}

@media (min-width: 960px) {
  .hidden-md {
    display: none;
  }

  .shown-md {
    display: block;
  }
}
.shown-lg {
  display: none;
}

@media (min-width: 1280px) {
  .hidden-lg {
    display: none;
  }

  .shown-lg {
    display: block;
  }
}
.shown-xl {
  display: none;
}

@media (min-width: 1440px) {
  .hidden-xl {
    display: none;
  }

  .shown-xl {
    display: block;
  }
}
.shown-xxl {
  display: none;
}

@media (min-width: 1920px) {
  .hidden-xxl {
    display: none;
  }

  .shown-xxl {
    display: block;
  }
}
