@use "mixins";
@use "breakpoints";

.m-auto {
    margin: auto;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-auto {
    margin-bottom: auto;
    margin-top: auto;
}

@for $i from 1 through 5 {
    // Implicit breakpoints (this will be applied for all resolutions)
    .m-#{$i} {
        margin: #{$i}rem;
    }
    .mb-#{$i} {
        margin-bottom: #{$i}rem;
    }
    .mt-#{$i} {
        margin-top: #{$i}rem;
    }
    .mr-#{$i} {
        margin-right: #{$i}rem;
    }
    .ml-#{$i} {
        margin-left: #{$i}rem;
    }
    .mx-#{$i} {
        margin-left: #{$i}rem;
        margin-right: #{$i}rem;
    }
    .my-#{$i} {
        margin-bottom: #{$i}rem;
        margin-top: #{$i}rem;
    }
    .p-#{$i} {
        padding: #{$i}rem;
    }
    .pb-#{$i} {
        padding-bottom: #{$i}rem;
    }
    .pt-#{$i} {
        padding-top: #{$i}rem;
    }
    .pr-#{$i} {
        padding-right: #{$i}rem;
    }
    .pl-#{$i} {
        padding-left: #{$i}rem;
    }
    .px-#{$i} {
        padding-left: #{$i}rem;
        padding-right: #{$i}rem;
    }
    .py-#{$i} {
        padding-bottom: #{$i}rem;
        padding-top: #{$i}rem;
    }
}

@each $breakpoint, $value in breakpoints.$breakpoints {
    // Explicit breakpoints
    @include mixins.screen-size($breakpoint) {
        .m-auto-#{$breakpoint} {
            margin: auto;
        }
        .mx-auto-#{$breakpoint} {
            margin-left: auto;
            margin-right: auto;
        }
        .my-auto-#{$breakpoint} {
            margin-bottom: auto;
            margin-top: auto;
        }
        @for $i from 1 through 5 {
            .m-#{$i}-#{$breakpoint} {
                margin-inline-start: #{$i}rem;
            }
            .mb-#{$i}-#{$breakpoint} {
                margin-bottom: #{$i}rem;
            }
            .mt-#{$i}-#{$breakpoint} {
                margin-top: #{$i}rem;
            }
            .mr-#{$i}-#{$breakpoint} {
                margin-right: #{$i}rem;
            }
            .ml-#{$i}-#{$breakpoint} {
                margin-left: #{$i}rem;
            }
            .mx-#{$i}-#{$breakpoint} {
                margin-left: #{$i}rem;
                margin-right: #{$i}rem;
            }
            .my-#{$i}-#{$breakpoint} {
                margin-bottom: #{$i}rem;
                margin-top: #{$i}rem;
            }
            .p-#{$i}-#{$breakpoint} {
                padding: #{$i}rem;
            }
            .pb-#{$i}-#{$breakpoint} {
                padding-bottom: #{$i}rem;
            }
            .pt-#{$i}-#{$breakpoint} {
                padding-top: #{$i}rem;
            }
            .pr-#{$i}-#{$breakpoint} {
                padding-right: #{$i}rem;
            }
            .pl-#{$i}-#{$breakpoint} {
                padding-left: #{$i}rem;
            }
            .px-#{$i}-#{$breakpoint} {
                padding-left: #{$i}rem;
                padding-right: #{$i}rem;
            }
            .py-#{$i}-#{$breakpoint} {
                padding-bottom: #{$i}rem;
                padding-top: #{$i}rem;
            }
        }
    }
}
