@each $color, $value in $colors {
    .text-#{$color} {
        color: $value;
    }
}

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
