.burger {
    button {
        appearance: none;
        background: none;
        border: none;
        color: color("dark");
        font-size: 2rem;
        padding-right: 0;
    }
    span {
        display: block;
        height: 0;
        overflow: hidden;
        text-indent: -9000px;
        width: 0;
    }
}
