@each $button, $color in $colors {
    .btn-#{$button} {
        $color: $color;
        $color-active: lighten($color, 5%);
        background: $color;
        border-color: $color;

        &:hover,
        &:focus,
        &:active {
            background: $color-active;
        }
    }
}
