.grid, .inline-grid {
    display: grid;

    @for $i from 2 through 12 {
        &.cols-#{$i} {
            grid-template-columns: repeat($i, 1fr);
        }
        &.rows-#{$i} {
            grid-template-rows: repeat($i, 1fr);
        }
        &.auto-cols-#{$i} {
            grid-auto-columns: #{$i}fr;
        }
        &.auto-rows-#{$i} {
            grid-auto-rows: #{$i}fr;
        }
        .colspan-#{$i} {
            grid-column: span #{$i};
        }
        .rowspan-#{$i} {
            grid-row: span #{$i};
        }
    }

    @each $breakpoint, $value in $breakpoints {
        @include screen-size($breakpoint) {
            @for $i from 2 through 12 {
                &.cols-#{$i}-#{$breakpoint} {
                    grid-template-columns: repeat($i, 1fr);
                }
                &.rows-#{$i}-#{$breakpoint} {
                    grid-template-rows: repeat($i, 1fr);
                }
                &.auto-cols-#{$i}-#{$breakpoint} {
                    grid-auto-columns: #{$i}fr;
                }
                &.auto-rows-#{$i}-#{$breakpoint} {
                    grid-auto-rows: #{$i}fr;
                }
                .colspan-#{$i}-#{$breakpoint} {
                    grid-column: span #{$i};
                }
                .rowspan-#{$i}-#{$breakpoint} {
                    grid-row: span #{$i};
                }
            }
        }
    }

    @for $i from 1 through 5 {
        @for $j from 1 through 5 {
            @if $i != $j {
                &.gap-#{$i}-#{$j} {
                    grid-gap: #{$i}rem #{$j}rem;
                    gap: #{$i}rem #{$j}rem;
                }
            }
        }
        &.gap-#{$i} {
            grid-gap: #{$i}rem;
            gap: #{$i}rem;
        }
    }

    @each $value in (column, row, dense) {
        &.auto-flow-#{$value} {
            grid-auto-flow: $value;
        }
    }

    @each $value in (start, center, end) {
        &.align-items-#{$value} {
            align-items: $value;
        }
        &.justify-items-#{$value} {
            justify-items: $value;
        }
        @each $value2 in (start, center, end) {
            &.place-items-#{$value} {
                place-items: $value $value2;
            }
        }
    }

    @each $value in (start, center, end) {
        .align-self-#{$value} {
            align-self: $value;
        }
        .justify-self-#{$value} {
            justify-self: $value;
        }
        @each $value2 in (start, center, end) {
            &.place-self-#{$value} {
                place-self: $value $value2;
            }
        }
    }

    @each $value in (start, center, end, space-around, space-between, space-evenly) {
        &.align-content-#{$value} {
            align-content: $value;
        }
        &.justify-content-#{$value} {
            justify-content: $value;
        }
        @each $value2 in (start, center, end) {
            &.place-content-#{$value} {
                place-content: $value $value2;
            }
        }
    }

    &.bordered > * {
        border: 1px dashed black;
    }
}


