.grid {
    display: grid;

    @for $i from 1 through 12 {
        .colspan-#{$i} {
            grid-column: span #{$i};
        }
        .rowspan-#{$i} {
            grid-row: span #{$i};
        }
        &.cols-#{$i} {
            grid-template-columns: repeat($i, 1fr);
        }
        &.rows-#{$i} {
            grid-template-rows: repeat($i, 1fr);
        }
    }

    @each $breakpoint, $value in $breakpoints {
        @include screen-size($breakpoint) {
            @for $i from 1 through 12 {
                &.cols-#{$i}-#{$breakpoint} {
                    grid-template-columns: repeat($i, 1fr);
                }
                &.rows-#{$i}-#{$breakpoint} {
                    grid-template-rows: repeat($i, 1fr);
                }

                .colspan-#{$i}-#{$breakpoint} {
                    grid-column: span #{$i};
                }

                .rowspan-#{$i}-#{$breakpoint} {
                    grid-row: span #{$i};
                }
            }
        }
    }

    @for $i from 0 through 5 {
        &.gap-#{$i}-half {
            gap: calc(#{$i}rem / 2);
        }
        &.gap-#{$i} {
            gap: #{$i}rem;
        }
    }
}
.grid-flow-column {
    grid-auto-flow: column;
}
.grid-flow-row {
    grid-auto-flow: row;
}
.align-items-stretch {
    align-items: stretch;
}
.align-items-start {
    align-items: start;
}
.align-items-center {
    align-items: center;
}
.align-items-end {
    align-items: end;
}
.justify-items-stretch {
    justify-items: stretch;
}
.justify-items-start {
    justify-items: start;
}
.justify-items-center {
    justify-items: center;
}
.justify-items-end {
    justify-items: end;
}
.align-self-start {
    align-self: start;
}
.align-self-center {
    align-self: center;
}
.align-self-end {
    align-self: end;
}
.justify-self-start {
    justify-self: start;
}
.justify-self-center {
    justify-self: center;
}
.justify-self-end {
    justify-self: end;
}
