* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: font("light");
    letter-spacing: to-rem("1px");
}

:focus {
    outline: none;
}

a {
    color: initial;
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}
