.m-auto {
    margin: auto;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.my-auto {
    margin-bottom: auto;
    margin-top: auto;
}
.m-0 {
    margin: 0;
}
.my-0 {
    margin-bottom: 0;
    margin-top: 0;
}
.mx-0 {
    margin-left: 0;
    margin-right: 0;
}
.mt-0 {
    margin-top: 0;
}
.mb-0 {
    margin-bottom: 0;
}
.ml-0 {
    margin-left: 0;
}
.mr-0 {
    margin-right: 0;
}
.p-0 {
    padding: 0;
}
.py-0 {
    margin-bottom: 0;
    margin-top: 0;
}
.px-0 {
    padding-left: 0;
    padding-right: 0;
}
.pt-0 {
    padding-top: 0;
}
.pb-0 {
    padding-bottom: 0;
}
.pl-0 {
    padding-left: 0;
}
.pr-0 {
    padding-right: 0;
}

@each $breakpoint, $value in $breakpoints {
    @include screen-size($breakpoint) {
        .my-0-#{$breakpoint} {
            margin-bottom: 0;
            margin-top: 0;
        }
        .mx-0-#{$breakpoint} {
            margin-left: 0;
            margin-right: 0;
        }
        .mt-0-#{$breakpoint} {
            margin-top: 0;
        }
        .mb-0-#{$breakpoint} {
            margin-bottom: 0;
        }
        .ml-0-#{$breakpoint} {
            margin-left: 0;
        }
        .mr-0-#{$breakpoint} {
            margin-right: 0;
        }
        .py-0-#{$breakpoint} {
            margin-bottom: 0;
            margin-top: 0;
        }
        .px-0-#{$breakpoint} {
            padding-left: 0;
            padding-right: 0;
        }
        .pt-0-#{$breakpoint} {
            padding-top: 0;
        }
        .pb-0-#{$breakpoint} {
            padding-bottom: 0;
        }
        .pl-0-#{$breakpoint} {
            padding-left: 0;
        }
        .pr-0-#{$breakpoint} {
            padding-right: 0;
        }
    }
}

@each $unit in $units {
    @for $i from 0 through 20 {
        // Implicit breakpoints (will apply in all resolutions)
        .mb-#{$i}-#{$unit} {
            margin-bottom: #{$i}#{$unit};
        }
        .mt-#{$i}-#{$unit} {
            margin-top: #{$i}#{$unit};
        }
        .mr-#{$i}-#{$unit} {
            margin-right: #{$i}#{$unit};
        }
        .ml-#{$i}-#{$unit} {
            margin-left: #{$i}#{$unit};
        }
        .mx-#{$i}-#{$unit} {
            margin-left: #{$i}#{$unit};
            margin-right: #{$i}#{$unit};
        }
        .my-#{$i}-#{$unit} {
            margin-bottom: #{$i}#{$unit};
            margin-top: #{$i}#{$unit};
        }
        .pb-#{$i}-#{$unit} {
            padding-bottom: #{$i}#{$unit};
        }
        .pt-#{$i}-#{$unit} {
            padding-top: #{$i}#{$unit};
        }
        .pr-#{$i}-#{$unit} {
            padding-right: #{$i}#{$unit};
        }
        .pl-#{$i}-#{$unit} {
            padding-left: #{$i}#{$unit};
        }
        .px-#{$i}-#{$unit} {
            padding-left: #{$i}#{$unit};
            padding-right: #{$i}#{$unit};
        }
        .py-#{$i}-#{$unit} {
            padding-bottom: #{$i}#{$unit};
            padding-top: #{$i}#{$unit};
        }
    }
}

@each $breakpoint, $value in $breakpoints {
    @include screen-size($breakpoint) {
        .m-auto-#{$breakpoint} {
            margin: auto;
        }
        .mx-auto-#{$breakpoint} {
            margin-left: auto;
            margin-right: auto;
        }
        .my-auto-#{$breakpoint} {
            margin-bottom: auto;
            margin-top: auto;
        }
        @each $unit in $units {
            @for $i from 0 through 20 {
                // Explicit breakpoints
                .mb-#{$i}-#{$unit}-#{$breakpoint} {
                    margin-bottom: #{$i}#{$unit};
                }
                .mt-#{$i}-#{$unit}-#{$breakpoint} {
                    margin-top: #{$i}#{$unit};
                }
                .mr-#{$i}-#{$unit}-#{$breakpoint} {
                    margin-right: #{$i}#{$unit};
                }
                .ml-#{$i}-#{$unit}-#{$breakpoint} {
                    margin-left: #{$i}#{$unit};
                }
                .mx-#{$i}-#{$unit}-#{$breakpoint} {
                    margin-left: #{$i}#{$unit};
                    margin-right: #{$i}#{$unit};
                }
                .my-#{$i}-#{$unit}-#{$breakpoint} {
                    margin-bottom: #{$i}#{$unit};
                    margin-top: #{$i}#{$unit};
                }
                .pb-#{$i}-#{$unit}-#{$breakpoint} {
                    padding-bottom: #{$i}#{$unit};
                }
                .pt-#{$i}-#{$unit}-#{$breakpoint} {
                    padding-top: #{$i}#{$unit};
                }
                .pr-#{$i}-#{$unit}-#{$breakpoint} {
                    padding-right: #{$i}#{$unit};
                }
                .pl-#{$i}-#{$unit}-#{$breakpoint} {
                    padding-left: #{$i}#{$unit};
                }
                .px-#{$i}-#{$unit}-#{$breakpoint} {
                    padding-left: #{$i}#{$unit};
                    padding-right: #{$i}#{$unit};
                }
                .py-#{$i}-#{$unit}-#{$breakpoint} {
                    padding-bottom: #{$i}#{$unit};
                    padding-top: #{$i}#{$unit};
                }
            }
        }
    }
}
