@use "../abstracts/mixins";
@use "breakpoints";

.block {
    display: block;
}

.flex {
    display: flex;
}

.hidden {
    display: none;
}

@each $breakpoint, $value in breakpoints.$breakpoints {
    .shown-#{$breakpoint} {
        display: none;
    }
    @include mixins.screen-size($breakpoint) {
        .hidden-#{$breakpoint} {
            display: none;
        }
        .shown-#{$breakpoint} {
            display: block;
        }
    }
}
