.block {
    display: block;
}

.flex {
    display: flex;
}

.hidden {
    display: none;
}

@each $breakpoint, $value in $breakpoints {
    .shown-#{$breakpoint} {
        display: none;
    }
    @include screen-size($breakpoint) {
        .hidden-#{$breakpoint} {
            display: none;
        }
        .shown-#{$breakpoint} {
            display: block;
        }
    }
}

.rounded {
    border-radius: 8px;
}
