// Color palette
$denim: #0b6daa;
$fun-green: #00923f;
$yellow-sea: #f4ae00;
$thunderbird: #cd2a21;
$graphite: #222222;
$mine-shaft: #3d3d3d;
$iron: #d1d3d4;

$colors: (
    primary: $denim,
    success: $fun-green,
    warning: $yellow-sea,
    danger: $thunderbird,
    dark: $mine-shaft,
    darker: $graphite,
    light: $iron
);

// Breakpoints
$breakpoints: (
    sm: 600px,
    md: 960px,
    lg: 1280px,
    xl: 1440px,
    xxl: 1920px
);
